.header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  padding: 0.5rem 1%;
  height: 3rem;
  background-color: rgba(0, 0, 0, 0);
  border-bottom: #bb0404 1px solid;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
}

.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navigation a {
  text-decoration: none;
  color: #ffffff;
}

.navigation a:hover {
  text-decoration: none;
  color: #bb0404;
}

.navLinks {
  display: flex;
  gap: 3rem;
}

@media (min-width: 768px) {
  .navigation a {
    font-size: 1.4rem;
    font-weight: bold;
  }
}
