.container {
  position: relative;
  width: 100%;
  height: 100vh;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

}

.content {
  position: absolute;
  top: 25%;
  left: 15%;
  transform: translate(20px, 20px); /* Adjust the values for positioning */
  text-align: left;
}

.name {
  font-size: 3rem;
  text-align: left; /* Align the text to the left */
  margin-left: 20px; /* Add a left margin for positioning */
  border-bottom: #bb0404 2px solid;
  transition: font-size 0.5s ease; /* Add a smooth transition */
}

.job {
  top: -2rem;
  display: inline-block;
  text-align: center;
  margin-left: 20px; /* Add a left margin for positioning */
  position: relative; /* Enable positioning for the pseudo-element */
  transition: font-size 0.5s ease; /* Add a smooth transition */
}

.job::after {
  content: "";
  position: absolute;
  bottom: -2px; /* Adjust the distance of the border from the text */
  left: 0;
  width: 100%;
  height: 2px; /* Adjust the thickness of the border */
  background-color: #bb0404;
}

.buttonContainer {
  margin-left: 20px; /* Add a left margin for positioning */
}

.button {
  display: inline-block;
  padding: 0.5rem 1rem;
  background-color: transparent;
  text-decoration: none;
  border-radius: 20px;
  border: 2px solid #bb0404;
  transition: background-color 0.3s ease;
}

.button:hover {
  background-color: #bb0404;
}

@media (max-width: 768px) {
  .content {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }
  .name {
    font-size: 1.5rem; /* Adjust the size as needed */
  }

  .job {
    top: -1rem; 
    font-size: 1rem; /* Adjust the size as needed */
  }
}